<div class="board">
  <nav>
    <div class="board__toolbar">
      <mat-form-field>
        <mat-label>Доска</mat-label>
        <mat-select
          placeholder="Выберите доску"
          name="board"
          [formControl]="selectedBoardId"
        >
          @for (board of (boards$ | async); track board.id) {
          <mat-option [value]="board.id">
            {{ board?.title }}
          </mat-option>
          } @empty {
          <mat-option disabled>Нет доступных</mat-option>
          }
          <mat-option (click)="openBoadrDialog()">Добавить</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        matSuffix
        mat-icon-button
        [disabled]="isCreating"
        (click)="addColumn()"
        title="Добавить колонку"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <button mat-button (click)="onChangeTheme()">Тема</button>
  </nav>

  <div
    class="board__columns"
    dragScroll
    cdkDropListGroup
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="(columnIds$ | async)!"
    (cdkDropListDropped)="dropColumn($event)"
  >
    @for (column of columns$ | async; track column.id) {

    <app-column class="column_item" [column]="column"></app-column>
    }
  </div>
</div>

<!-- <div>
    @for (col of columns$ | async; track $index) {
    <button mat-icon-button (click)="addTask(col.id)">Добавить задачу</button>
    <mat-list>
      @for (task of (tasksByColumn$ | async)[c]; track $index) {
      <mat-list-item>item</mat-list-item>
      }
    </mat-list>
    }
  </div> -->
