:host {
  display: inline-block;
  height: 100%;
  width: 100%;
}

nav {
  padding: var(--space-2);
  font-size: var(--mat-sys-body-medium);
  color: var(--mat-sys-primary);
  background-color: var(--mat-sys-primary-container);
  display: flex;
  justify-content: space-between;
}

.board {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--mat-sys-surface-container-high);

  &__toolbar,
  &__columns {
    display: flex;
    gap: 1rem;
  }

  &__toolbar {
    align-items: center;
  }

  &__columns {
    height: 100%;
    align-items: start;
    padding: var(--space-3);
    overflow-x: auto;
  }
}
