@use "@angular/material" as mat;
@use "../theme-colors" as theme-colors;
@import "./app/core/shared/styles/space-var";

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
  )
);

html,
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include mat.theme(
    (
      color: (
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 64px;
  flex-shrink: 0;
}

.main {
  flex: 1 1 auto;
  overflow: hidden;
}
