<mat-card class="task">
  <mat-card-header>
    <mat-card-title class="task__title" [class.task__title--done]="isDone">{{
      task.title
    }}</mat-card-title>
    <mat-card-subtitle class="task__description">{{
      task.description
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-icon-button (click)="clickToggleStatus()">
      <mat-icon color="accent">
        {{ isDone ? "refresh" : "done" }}
      </mat-icon>
    </button>
    <button mat-icon-button [disabled]="!isDone" (click)="clickDelete()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
